.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  height: 100%;
}

.bookCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  height: 100%
}

.bookCard {
  height: 450px;
  width: 250px;
  margin: 0 15px 25px 15px;
}

.bookCard img {
  height: 275px;
  width: 200px
}
