.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto
}

.bookCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}

.bookCard {
  height: 400px;
  width: 250px;
}

.bookCard img {
  height: 200px;
  width: 200px
}
